*~
*.*#
*.xba
*.xdl
*.xlb
.directory
DialogStrings_it_IT.*
RegisteredFlag
bin/
*/leeno-bk/
documentazione/*.pdf
Esempio_LeenO.ods
icons/Thumbs.db

src/Ultimus.oxt/python/pythonpath/.eric6project/
 
__pycache__/
*.py[cod]

#/.~*

#*.oxt

*_sync_4c4c250c938d.db
*_sync_4c4c250c938d.db-shm
*_sync_4c4c250c938d.db-wal
src/Ultimus.oxt/python/pythonpath/__pycache__/
.eric6project/**
.ropeproject/**
Leeno.e4p
__init__.py
