name: Genera pagina versioni LeenO

on:
  push:
    branches:
      - dev
    paths:
      - 'tools/version/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout codice
        uses: actions/checkout@v3

      - name: Mostra struttura file dopo il checkout
        run: tree -a -L 3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Installa dipendenze
        run: pip install requests requests_toolbelt lxml

      - name: Esegui script generazione HTML
        run: python tools/version/leeno_version_generator.py

      - name: Verifica presenza file
        run: |
          ls -la tools/version/
          [ -f tools/version/versions.html ] || exit 1

      - name: Carica su WordPress via SFTP
        uses: pressidium/lftp-mirror-action@v1.1.0
        with:
          sftp_host: ${{ secrets.SFTP_HOST }}
          sftp_port: ${{ secrets.SFTP_PORT }}
          sftp_username: ${{ secrets.SFTP_USER }}
          sftp_password: ${{ secrets.SFTP_PASS }}
          local_path: tools/version/versions.html
          remote_path: ${{ secrets.SFTP_REMOTE_PATH }}
          args: -e -R
