name: Genera pagina versioni LeenO

on:
  push:
    branches:
      - dev
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout codice
        uses: actions/checkout@v4

      - name: Mostra struttura file dopo il checkout
        run: tree -a -L 3 || true

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Installa dipendenze
        run: pip install requests

      - name: Esegui script generazione
        run: python tools/version/leeno_version_generator.py

      - name: Carica via SFTP
        uses: pressidium/lftp-mirror-action@v1.1.0
        with:
          sftp_host: ${{ secrets.SFTP_HOST }}
          sftp_port: ${{ secrets.SFTP_PORT }}
          sftp_username: ${{ secrets.SFTP_USER }}
          sftp_password: ${{ secrets.SFTP_PASS }}
          local_path: tools/version/versions.html
          remote_path: ${{ secrets.SFTP_REMOTE_PATH }}
          args: -e -R
