name: Genera pagina versioni LeenO

on:
  workflow_dispatch:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout codice
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.10

      - name: Installa dipendenze
        run: pip install requests

      - name: Esegui script generazione
        working-directory: tools/version
        run: python leeno_version_generator.py

      - name: Carica via SFTP
        uses: pressidium/lftp-mirror-action@v1.1.0
        with:
          sftp_host: ${{ secrets.SFTP_HOST }}
          sftp_port: ${{ secrets.SFTP_PORT }}
          sftp_username: ${{ secrets.SFTP_USER }}
          sftp_password: ${{ secrets.SFTP_PASS }}
          local_path: tools/version/versions.html
          remote_path: ${{ secrets.SFTP_REMOTE_PATH }}
          args: -e -R
      - name: Verifica caricamento
        run: |
          if [ ! -f "${{ secrets.SFTP_REMOTE_PATH }}/versions.html" ]; then
            echo "Caricamento fallito: il file non esiste sul server remoto."
            exit 1
          else
            echo "Caricamento riuscito: il file esiste sul server remoto."
